{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "rckit": "./src"
        }
      }
    ],
    ["babel-plugin-styled-components"],
    "@babel/plugin-proposal-class-properties"
  ]
}
